body {
    background-color: #000;
}

.home {
    .home-background {
        background-size: cover;
        background-position: center center;
        position: absolute;
        width: 100%;
        opacity: 0.75;
        z-index: 0;
    }

    .footer {
        padding: 15px;
        background: transparent;
    }

    .main-clock {
        font-size: 8em;
    }

    .list-container {
        transition-property: all;
        transition-duration: 0.5s;
        overflow: auto;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;

        .column {
            text-transform: uppercase;
            transition-property: all; //height, padding;
            transition-duration: 0.5s;

            &.asist-level-row {
                margin-bottom: 0;
                padding: 0;
                height: 42px;
            }

            &.asist-animated-item {
                transition-delay: 0.5s;
            }

            &.asist-shrink-item {
                height: 0;
                padding-bottom: 0;
                padding-top: 0;
            }

            .asist-task-wrapper {
                margin-bottom: 0;
                overflow: hidden;
            }

            .icon.level-left {
                max-width: 20px;

                i {
                    position: absolute;
                }

            }

            p {
                color: #fff;
            }

            a.level-right i {
                font-size: 15px;
            }
        }
    }

    .loading {
        transition-property: opacity;
        transition-duration: 0.5s;

        &.show {
            opacity: 1;
        }

        &.hide {
            opacity: 0;
            height: 0;
            padding: 0;
        }
    }

    @-webkit-keyframes rotating {
        from{
            -webkit-transform: rotate(0deg);
        }
        to{
            -webkit-transform: rotate(360deg);
        }
    }

    .rotating {
        -webkit-animation: rotating 2s linear infinite;
    }
}
